html,body{
	margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    background: transparent;
    font-size: 13px;
    display: block;
    font-family: arial,sans-serif;
}

body {
    min-height: 100%;
}

center {
    padding-top: 89px;
}

form {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 10px;
}

input {
    width: 403px;
    height: 34px;
    text-align: center;
    font-size: 13px;
    border: none;
    outline: none;
}

div.sbox{
    margin-bottom: 10px;
    height: 38px;
    width: 528px;
    overflow: hidden;
    padding: 6px 9px 0px 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    align-self: center;
    display: inline-block;
}

div.sbox:hover {
   box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
   
input[type="submit"] {
    background-color: #f2f2f2;
    color: #757575;
    font-weight: bold;
    height: 36px;
    width: 142px;
    border: 1px;
    border-radius: 2px;
    margin: 11px 4px;
}

input[type="submit"]:hover {
    border: 1px solid #c6c6c6;
} 

input[type="submit"]:focus {
    border: 1px solid #4d90fe;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden; /* Enable scrolling if the sidenav has too much content */
    /*position: fixed;  Make it stick, even on scroll */
   	top: 0; 	
   }

nav li {
    float: right;
    text-align: center;
    margin-top: 10px;
}

nav li a {
    color: black;
    padding: 6px 14px;
    margin-top: 10px;
    text-decoration: none;
}


li a.signinbox {
    margin-right: 20px;
    border: 1px solid #4285f4;
    background: #4285f4;
    color: white;
    border-radius: 3px; 
}

li a:hover:not(.signinbox) {
    text-decoration: underline;
}

footer {
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 70px;
    margin: 0;
}

p {
    border-top: 1px solid #e4e4e4;
    font-size: 15px;
    margin-bottom: 0;
    line-height: 35px;
    margin-top: 0;
    padding-left: 27px;
    text-align: left; 
    /*font-family: sans-serif;*/
}

footer ul {
    border-top: 1px solid #e4e4e4;
    padding-left: 0px;
    margin-right: 10px;
    /*-webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;*/
}

footer li {
    display: inline-block;
    float: left;
    padding-left: 27px;
}

footer a {
    text-decoration: none;
    color: #666;
}

footer li.right{
    float: right;
}
